<!-- -->
<ion-header>
  <ion-navbar color="miTema">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>Expedientes con Error
      </strong>
    </ion-title>
    <ion-buttons end>

      <button ion-button tappable (click)="logout()">
        <ion-icon name="log-out" style="zoom: 130%"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center *ngIf="expedientesErroneos.length==0; else hasElement">
    <h4 class="img">Sin registros para mostrar</h4>
  </div>
  <ng-template #hasElement>
    <h2><strong>Expedientes Erroneos</strong> </h2>
    <hr/>
    <table style="margin: 0 auto;">
      <tr *ngFor="let item of expedientesErroneos" >
          <td width="85%">
            <h4>{{item.NroExpedienteInterno}}</h4>
            <p><span>Actas:{{item.rutasActas.length}},</span>
              <span>Adjuntos:{{item.rutasAttch.length}}</span>
            </p>
            <p><span>Tiene Arreglo Pago:{{item.TieneArregloPago == 0 ? 'No' : 'Si'}}</span></p>
            <p><span>Tiene Infracciones:{{item.TieneInfraccion == 0 ? 'No' : 'Si'}}</span></p>
          
          </td>
          <td width="15%"> 
            <p><span class="wrap-dateTime">{{item.createAt | date:'dd/MM/yyyy'}}</span></p>
            <div *ngIf="item.TieneArregloPago == 0;else showButton">
              <button ion-button color="miTema" [disabled]="true">
                <ion-icon name="md-eye-off"></ion-icon>
                &nbsp;ver pagos
              </button>
            </div>
            <ng-template #showButton>
              <button ion-button color="miTema" (click)="showInfo(item)">
                <ion-icon name="md-eye"></ion-icon>
                &nbsp;ver pagos
              </button>
            </ng-template>
          </td>
        </tr>
      </table>
  </ng-template>

</ion-content>
