<!-- -->
<ion-header>
  <ion-navbar color="miTema">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >
      <strong style="font-size: 4vw !important;">Registrar Info. de Expedientes
      </strong>
    </ion-title>
    <ion-buttons end>

      <button ion-button tappable (click)="logout()">
        <ion-icon name="log-out" style="zoom: 130%"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



  

  
<ion-content no-padding class="animated fadeIn  common-bg page-consulta">


  <form class="list-form-home" [formGroup]="dataService._form"  *ngIf="!colapse">

    <ion-grid>
      <ion-row>
        <!-- <ion-col col-6>
          <ion-item>
            <ion-label floating class="labelFont">
              <ion-icon name="md-grid" item-start class="text-primary-login"></ion-icon>
              Número expediente integral
            </ion-label>
            <ion-input type="text" class="text-primary-login sinespacio" maxLength="25" name="numeroExpedienteIntegral" id="numeroExpedienteIntegral" formControlName="numeroExpedienteIntegral" [(ngModel)]="dataService.dataRegistrarExp.numeroExpedienteIntegral"></ion-input>

          </ion-item>
        </ion-col> -->
        <ion-col col-12>
          <ion-item>
            <ion-label floating class="labelFont">
              <ion-icon name="md-grid" item-start class="text-primary-login"></ion-icon>
              Número de Expediente Interno
            </ion-label>
            <ion-input type="text" class="text-primary-login sinespacio" maxLength="25" name="numeroExpedienteInterno" id="numeroExpedienteInterno" formControlName="numeroExpedienteInterno" [(ngModel)]="dataService.dataRegistrarExp.numeroExpedienteInterno"></ion-input>

          </ion-item>
        </ion-col>
        <ion-col col-12>
          <ion-item>
            <ion-label floating class="labelFont">
              <ion-icon name="md-grid" item-start class="text-primary-login"></ion-icon>
              Nombre de  la empresa
            </ion-label>
            <ion-input type="text" class="text-primary-login sinespacio" maxLength="25" name="nombreEmpresa" id="nombreEmpresa" formControlName="nombreEmpresa" [(ngModel)]="dataService.dataRegistrarExp.nombreEmpresa"></ion-input>

          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label floating class="labelFont">
              <ion-icon name="md-calendar" cancelText ="Cancelar" doneText="Guardar" item-start class="text-primary-login"></ion-icon>
              Fecha Desde
              

            </ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" max ="{{myDate | date:'yyyy-MM-dd'}}" cancelText ="Cancelar" doneText="Guardar" name="fechaDesde" id="fechaDesde" formControlName="fechaDesde" [(ngModel)]="dataService.dataRegistrarExp.fechaDesde"></ion-datetime>

          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label floating class="labelFont">
              <ion-icon name="md-calendar" item-start class="text-primary-login" ></ion-icon>
              Fecha Hasta
            </ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" max ="{{myDate | date:'yyyy-MM-dd'}}" cancelText ="Cancelar" doneText="Guardar" name="fechaHasta" id="fechaHasta" formControlName="fechaHasta" [(ngModel)]="dataService.dataRegistrarExp.fechaHasta"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button icon-start block color="dark" class="buttontn" tappable (click)="loadDataExpedientes(dataService.dataRegistrarExp)">
      <ion-icon name="md-search"></ion-icon>
      Buscar
    </button>

    
  </form>


  <div text-center *ngIf="dataService.ReportExpediente.length==0; else hasElement">
    <h4 class="img">Sin registros para mostrar</h4>
  </div>
  <ng-template #hasElement>
    <ion-list>
      <ion-list-header>
        <h2><strong>Resultados</strong> </h2>
      </ion-list-header>
      <ion-item-sliding *ngFor="let item of dataService.ReportExpediente;index as i">
        <ion-item class="item item-block item-md">
            <ion-icon name="md-document" color="primary" item-start></ion-icon>
             <ion-label text-wrap col-9>
               <h2>{{item.NroExpedienteInterno}}</h2>
               <p>{{item.Actividad}}</p>
             </ion-label>
             <ion-label text-wrap class="wrap-dateTime" col-3>
                {{item.FechaInicio}}
             </ion-label>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="miTema" (click)="showModal(item,i)">
            <ion-icon name="md-eye"></ion-icon>
            Visualizar
          </button>
        </ion-item-options>
      
      </ion-item-sliding>

    </ion-list>

  </ng-template>

  
  

</ion-content>

<ion-footer no-border>
  
    <!--<div  align="center"> <br><br>
      <ion-fab right bottom>
        <button ion-fab (click)="colapse=!colapse" *ngIf="!colapse" color="danger">
          <ion-icon name="md-search"></ion-icon>
        </button>
  
        <button ion-fab  (click)="colapse=!colapse;" *ngIf="colapse">
          <ion-icon name="md-search"></ion-icon>
        </button>
  
      </ion-fab>
  
    </div>-->
    
</ion-footer>
