page-nosotros{
/*.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
  }*/

 .text-align{  
   text-align: justify
 }
 .labelFont {
   font-size: 3.5vw !important;
 }
 .wrap-dateTime {
   font-size: 2.3vw;
   margin-top: 0;
 }
  .btnVer {
    font-size: 3vw !important;
  }
}
