<ion-header>

  <ion-navbar color="miTema">
    <ion-title>
      <strong>Arreglo de pago
      </strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Cerrar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content no-padding>



  <ion-content #popoverContent padding class="popover-page">

    <form class="list-form-home" [formGroup]="ComForm" >

      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>
                <ion-icon name="md-grid" item-start class="text-primary-login"></ion-icon>
                <span class="text-danger">*</span> Número de Expediente Integral
              </ion-label>
              <ion-input type="text" class="text-primary-login" maxLength="25" id="NroExpedienteIntegral"
                name="NroExpedienteIntegral" [(ngModel)]="dataService.dataRegistrarPago.NroExpedienteIntegral"
                 [readonly]="true" formControlName="NroExpedienteIntegral"></ion-input>

            </ion-item>
          </ion-col>

          <ion-col col-12>
            <ion-item>
              <ion-label floating>
                <ion-icon name="ios-person-outline" item-start class="text-primary-login"></ion-icon>
                <span class="text-danger">*</span>  Nombre
              </ion-label>
              <ion-input type="text" id="NombreRazon" name="NombreRazon" class="text-primary-login" maxLength="25"
                [(ngModel)]="dataService.dataRegistrarPago.nombreEncargadoPago" 
                [readonly]="false" formControlName="NombreRazon"></ion-input>

            </ion-item>
          </ion-col>
      
          <ion-col col-12>
            <ion-item>
              <ion-label floating>
                <ion-icon name="ios-book-outline" item-start class="text-primary-login"></ion-icon>
                <span class="text-danger">*</span>  Concepto Pago
              </ion-label>
              <ion-input id="conceptoPago" name="ConceptoPago" [(ngModel)]="dataService.dataRegistrarPago.conceptoPago"
              formControlName="conceptoPago"></ion-input>

            </ion-item>
          </ion-col>

          <ion-col col-12>
            <ion-item>
              <ion-label floating>
                <ion-icon name="ios-calendar-outline" item-start class="text-primary-login"></ion-icon>
                <span class="text-danger">*</span>  Descripción Acta
              </ion-label>
              <ion-input id="DescripcionActa" name="DescripcionActa"
                [(ngModel)]="dataService.dataRegistrarPago.DescripcionActa" formControlName="DescripcionActa">
              </ion-input>

            </ion-item>
          </ion-col>
          <ion-col col-12>
            <ion-item>
              <ion-label floating>
                <ion-icon name="ios-cash-outline" item-start class="text-primary-login"></ion-icon>
                <span class="text-danger">*</span>  Total a Pagar Lempiras
              </ion-label>
              <ion-input id="CantidadPago" type="tel" name="CantidadPago" class="numeros" formControlName="CantidadPago" [(ngModel)]="dataService.dataRegistrarPago.CantidadPago" >
              </ion-input>

            </ion-item>
          </ion-col>

          <ion-col col-12>
            <ion-item>
              <ion-label floating>
                <ion-icon name="ios-calendar-outline" item-start class="text-primary-login"></ion-icon>
                <span class="text-danger">*</span>  Nro. Pago a Realizar
              </ion-label>
              <ion-input type="tel" id="NumeroPago" class="numeros" name="NumeroPago" formControlName="NumeroPago" [(ngModel)]="dataService.dataRegistrarPago.NumeroPago">
              </ion-input>

            </ion-item>
          </ion-col>
          <ion-col col-12>
            <ion-item align="center">

              <button ion-button icon-start block color="info" class="buttontn" tappable
                (click)="addPago(dataService.dataRegistrarPago)">
                <ion-icon name="md-checkmark-circle-outline"></ion-icon>
                Agregar
              </button>
            </ion-item>
          </ion-col>

        
          <ion-grid>
            <ion-row>
              <ion-col col-2>
                <div >
                  Nro.
                </div>
              </ion-col>
              <ion-col col-4>
                <div>
                  Fecha Pago
                </div>
              </ion-col>
              <ion-col col-4>
                <div>
                  Valor Pago (L.)
                </div>
              </ion-col>
              <ion-col col-2>
                <div>
                  <!-- <ion-icon name="ios-trash-outline"  style="zoom: 150%;" color="danger" ></ion-icon> -->
                  <ion-icon ios="ios-close" md="md-close"></ion-icon>
                </div>
              </ion-col>
            </ion-row>
            
            <ion-row *ngFor="let x of arregloPagos;let i=index">
              <ion-col class="ion-text-center" col-2>
                {{i+1}}

              </ion-col>
              <ion-col col-4>
                <ion-item class="ion-text-center">

                  <ion-datetime displayFormat="DD-MM-YYYY" type="text" id="FechaPago" name="FechaPago"
                    class="text-primary-login" required="true" [(ngModel)]="x.FechaPago" formControlName="FechaPago" >
                  </ion-datetime>
                </ion-item>
              </ion-col>
              <ion-col col-4>
                <ion-item>
                  <ion-input type="tel" id="ValorPagar" name="ValorPagar" class="text-primary-login numeros"
                    [(ngModel)]="x.ValorPagar" formControlName="ValorPagar" ></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-2>
                <div class="ion-text-center">
                  <ion-icon name="ios-trash-outline"  style="zoom: 150%;" color="danger" (click)="eliminar(i)"></ion-icon>

                </div>
              </ion-col>
            </ion-row>

          </ion-grid>
          <!-- <hr style="width: 100%;">
          <ion-list >
            <ion-item *ngFor="let x of arregloPagos;let i=index">

              <ion-row >
                <ion-col class="ion-text-center" col-2>
                  {{i+1}}

                </ion-col>
                <ion-col col-4>
                  <ion-item class="ion-text-center">

                    <ion-datetime displayFormat="DD-MM-YYYY" type="text" id="FechaPago" name="FechaPago"
                      class="text-primary-login" [(ngModel)]="x.FechaPago" formControlName="FechaPago" >
                    </ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col col-4>
                  <ion-item>
                    <ion-input type="tel" id="ValorPagar" name="ValorPagar" class="text-primary-login numeros"
                      [(ngModel)]="x.ValorPagar" formControlName="ValorPagar" ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-2>
                  <div class="ion-text-center">
                    <ion-icon name="ios-trash-outline"  style="zoom: 150%;" color="danger" (click)="eliminar(i)"></ion-icon>

                  </div>
                </ion-col>
              </ion-row>


            </ion-item>
          </ion-list> -->


          <ion-col col-6>
            <ion-item>
              <button ion-button icon-start block color="info" class="buttontn" tappable
                (click)="guardarPagoTesoreria(dataService.dataRegistrarPago);" [disabled]="arregloPagos.length==0 || !ComForm.valid">
                <ion-icon name="md-checkmark-circle-outline"></ion-icon>
                Guardar
              </button>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <button ion-button icon-start block color="danger" class="buttontn" tappable (click)="closeModal()">
                <ion-icon name="md-close"></ion-icon>
                Cancelar
              </button>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-grid>

      <br><br>

    </form>





  </ion-content>




</ion-content>
