<ion-header>

  <ion-navbar color="miTema">
    <ion-title>
      <strong>Arreglo de pago
      </strong>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Cerrar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
   <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-label floating>
            <ion-icon name="md-grid" item-start class="text-primary-login"></ion-icon>
            <span class="text-danger">*</span> Número de Expediente Integral
          </ion-label>
          <ion-input type="text" 
                     class="text-primary-login" 
                     maxLength="25" id="NroExpedienteIntegral"
                     [(ngModel)]="model.NroExpedienteIntegral"
                     name="NroExpedienteIntegral"    
                     [readonly]="true" ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label floating>
            <ion-icon name="ios-person-outline" item-start class="text-primary-login"></ion-icon>
            <span class="text-danger">*</span> Nombre
          </ion-label>
          <ion-input type="text" id="NombreRazon" 
                     name="NombreRazon" 
                     [(ngModel)]="model.Nombre"
                     class="text-primary-login" 
                     maxLength="25"
                     (ionBlur)="onBlurValidation($event)"
                     [readonly]="false"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label floating>
            <ion-icon name="ios-book-outline" item-start class="text-primary-login"></ion-icon>
            <span class="text-danger">*</span> Concepto Pago
          </ion-label>
          <ion-input id="conceptoPago" 
                     [(ngModel)]="model.ConceptoPago"
                     (ionBlur)="onBlurValidation($event)"
                     name="ConceptoPago" ></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label floating>
            <ion-icon name="ios-calendar-outline" item-start class="text-primary-login"></ion-icon>
            <span class="text-danger">*</span> Descripción Acta
          </ion-label>
          <ion-input id="DescripcionActa" 
                    [(ngModel)]="model.DescripcionActa"
                    (ionBlur)="onBlurValidation($event)"
                    name="DescripcionActa"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
        <ion-item>
          <ion-label floating>
            <ion-icon name="ios-cash-outline" item-start class="text-primary-login"></ion-icon>
            <span class="text-danger">*</span> Total a Pagar Lempiras
          </ion-label>
          <ion-input id="CantidadPago" 
                    [(ngModel)]="model.TotalPagar"
                    type="tel"
                    name="CantidadPago" class="numeros CurrencyInput"
                    (ionBlur)="onBlurValidation($event)"
                    (keypress)="onKeyPress($event, $event.target.value)" >
          </ion-input>
        </ion-item>
      </ion-col>

      <ion-col col-12>
         <ion-row>
             <ion-item col-7>
               <ion-label floating class="labelFont">
                 <ion-icon name="ios-calendar-outline" item-start class="text-primary-login"></ion-icon>
                 <span class="text-danger">*</span> Nro. Pagos a Realizar
               </ion-label>
               <ion-input type="tel" 
                          id="NumeroPago" class="numeros"
                          [(ngModel)]="model.CantidadPago"
                          (keypress)="onFeeKeyPress($event, $event.target.value)" 
                          (ionBlur)="onBlurValidation($event)"
                          name="NumeroPago">
               </ion-input>
             </ion-item>

             <ion-item col-5>

               <button ion-button icon-start block color="info" class="btnaddFee" [disabled]="!hasFee" tappable
                 (click)="addFee()">
                 <ion-icon name="md-checkmark-circle-outline"></ion-icon>
                 Agregar
               </button>
             </ion-item>
         </ion-row>
       </ion-col>
        
      <ion-col col-12 *ngIf="listaPagos !== undefined || listaPagos != null">
        <ion-grid>
          <ion-row>
            <ion-col col-2>
              <ion-item>
                <ion-label>
                  <p>N°</p>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col col-5>
              <ion-item text-center>
                <ion-label>
                  <p>Fecha</p>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col col-5>
              <ion-item text-center>
                <ion-label>
                  <p> Valor en L.</p>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let item of listaPagos; index as i">
              <ion-col col-2>
                <ion-item>
                  <ion-label><span style="font-size: 11px;"> {{i + 1}}</span> </ion-label>
                </ion-item>
              </ion-col>
              <ion-col col-5>
                 <ion-item class="item-coutas">
                   <ion-datetime displayFormat="DD/MM/YYYY" 
                                pickerFormat="DD/MM/YYYY"
                                [(ngModel)]="item.FechaPagoText"
                                name="FechaPago"
                                min={{listaPagos[i].MinDate}}
                                max="2050-12-31"
                                (ionChange)="onItemDateChange($event,i)"
                                [ngModelOptions]="{standalone: true}"
                                class="text-primary-login"></ion-datetime>
                  </ion-item>
              </ion-col>
              <ion-col col-5>
                <ion-item>
                          <ion-input type="tel" 
                            name="ValorPagar" 
                            class="text-primary-login numeros"
                            (keypress)="onKeyPress($event, $event.target.value,i)"
                            (ionBlur)="onItemBlur()"
                            [(ngModel)]="item.ValorPagar"></ion-input>
                </ion-item>
                 
              </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
     <ion-col *ngIf="messageErrorPayments.length > 0">
        <ion-row *ngFor="let item of messageErrorPayments">
            <span class="text-danger">*{{item}}</span>
        </ion-row>
    
     </ion-col>
     <ion-col *ngIf="messageErrorFee.length > 0">
       <ion-row *ngFor="let item of messageErrorFee">
          <span class="text-danger">*{{item}}</span>
       </ion-row>

     </ion-col>

      <ion-col *ngIf="messageErrors.length > 0">
        <ion-row *ngFor="let item of messageErrors">
          <span class="text-danger">*{{item}}</span>
        </ion-row>
      
      </ion-col>
    </ion-row>

   </ion-grid>

  <ion-col col-12>
    <ion-row>
        <ion-item col-6>
          <button ion-button icon-start block color="info" class="buttontn" tappable (click)="savePayment()">
            <ion-icon name="md-checkmark-circle-outline"></ion-icon>
            Guardar
          </button>
        </ion-item>
        <ion-item col-6>
          <button ion-button icon-start block color="danger" class="buttontn" tappable (click)="closeModal()">
            <ion-icon name="md-close"></ion-icon>
            Cancelar
          </button>
        </ion-item>

    </ion-row>

  </ion-col>
  
  
</ion-content>

